<div class="container">
  <h1>{{title}}</h1>
  {{#if messages.success}}
  <div class="text-success">
    {{#each messages.success}}
    <div>{{msg}}</div>
    {{/each}}
  </div>
  {{/if}} {{#if messages.error}}
  <div class="text-danger">
    {{#each messages.error}}
    <div>{{msg}}</div>
    {{/each}}
  </div>
  {{/if}} {{#if messages.info}}
  <div class="text-info">
    {{#each messages.info}}
    <div>{{msg}}</div>
    {{/each}}
  </div>
  {{/if}}


  <div class="row">
    {{#each articles}}
    <div class="col-sm">
      <h3>{{this.name}}</h3>
    </div>
    {{/each}}
  </div>
</div>